.spin-loader-overlay{
	display:none;
	position:relative;
	width:0;
	height:0;
	z-index:1;
}
body.overlay-on .spin-loader-overlay{
	display:block;
	position : fixed;
	top :  0;
	left : 0;
	width  : 100%;
	height : 100%;
	z-index: 1001;
}

.spinner-box {
	display:none;
	position:fixed;
	padding:10px 30px;
	border-radius:15px;
	z-index:1002;
}

/* Individual Styles */
.spinner-box.spinner-style-1 {	
	border:solid 2px rgba(50,50,50,0.50);
	background-color:rgba(59,178,26,1);	
}

.spinner-box.spinner-red-1{
	border:solid 2px rgba(165,6,6,0.9);
	background-color:rgba(232,6,6,1);
}

.spinner-light-blue-1 {
	border:solid 2px rgba(39,107,209,0.9);
	background-color:#4c87e0;
}


.spinner-box div{float:left;}

.spinner-box :first-child {
	font-family:Verdana,Arial;
	font-size:1.2em;
	line-height: 64px;
	margin-left:20px;
	margin-right:15px;
	color:#fff;
	text-align:center;
}
.spinner-box :nth-child(2){}

/* Spinner Animation */
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.sp1{
    -webkit-animation: 0.8s rotate linear infinite;
    animation: 0.8s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}